.cart {
  display: flex;
  align-items: center;
  padding: 5px 0;
  padding-left: 20px;
}
.icon {
  width: 18px;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}
