.btn {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}
.btn:hover {
  background-color: var(--main-color-darker);
}
.secondary {
  color: #333;
  border: 1px solid #ccc;
  background-color: transparent;
}
.secondary:hover {
  background-color: #eee;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.disabled:hover {
  background-color: var(--main-color);
}
