.cart {
  max-width: 1084px;
  padding: 30px;
  margin: 0 auto 30px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.total-value {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
